*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca',sans-serif;
}
.wrapper{
    max-width: 130rem;
    margin: 0 auto;
    
}
html{
    font-size: 	62.50%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
    display: block;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*header section*/
header{
    background-color:#fff;
    height: 10vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

/*left logo*/
.logo{
    font-size: 3.6rem;
    font-weight: bold;
    float: left;
    padding: 2.1rem;
    width: 20%;
}
.logo a:hover{
    color: #FF5500;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
}
/*left logo*/
/*nav bar*/
.menu {
    float: left;
    width: 68%;
    text-align: right;
    /* margin-left: 33rem; */
}
.menu ul li{
    list-style-type: none;
    display:inline-block;
    position: relative;
}
.menu ul li a{
    font-weight: bold;
    display: block;
    padding: 2.5rem 16px;
    font-size: 2.2rem;
}
.menu ul li a:hover{
    color: #FF5500;
    transition: .5s ease all;
    -webkit-transition: .5s ease all;
    -moz-transition: .5s ease all;
    -ms-transition: .5s ease all;
    -o-transition: .5s ease all;
}

/*dropdown menu*/
.menu ul li ul{
    position:absolute;
    display: none;
    top:95%;
    left: 0;
    background-color: #fff;  
}
.menu ul li ul li{
    float: none;
    list-style-type:none;
    display: block;
    width: 210px;
}
.menu ul li .d-d li{
    float: none;
    list-style-type:none;
    display: block;
    width: 350px;
    
}
.menu ul li ul li a{
    display: block;
    padding: 1.5rem 16px;
}
.menu ul li:hover ul{
   display: block;
}
/*dropdown menu*/

/*nav bar*/
/*button section*/
.btn1{
    float: right;
    width: 10%;
    margin-top: 1rem;
}
.btn1 button{
    padding: 1.5rem 1.4rem;
    background-color: #FF5500;
    border:none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.8rem;
    width: 16rem;
}
/*button section*/

/*header section*/
/* section*/
.slider{
    background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url("img/mbr-1920x1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:60rem;
    margin-top: 8.9rem;
    position: relative;
}
.container h1{
    position: absolute;
    font-size: 9rem;
    color:#FF5500 ;
    margin-top: 15rem;
}
.container h2{
    position: absolute;
    font-size: 5.2rem;
    width: 80%;
    top: 45%;
    left: 15%;
    
}
/* section*/

/*social section*/
.article{
    margin-top:6rem;
    margin-bottom: 6rem;
}
.social-img{
    float: left;
    width: 30%;
    margin-left:3% ;
    
}
.social-img h3,.left-img h3,.top-img h3,.bottom-img h3{
    font-size: 2.5rem;
    margin-top: .8rem;
    border-bottom: 3.5px solid #FF5500 ;
    display: inline-block;
}
.social-img h3:hover,.left-img h3:hover,.top-img h3:hover,.bottom-img h3:hover{
    color:#FF5500  ;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
    cursor: pointer;
}

.social-img h4,.left-img h4,.top-img h4,.bottom-img h4{
    font-size: 1.5rem;
    margin-top: .8rem;
    letter-spacing: .2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3rem;
   
}
.overly-image{
    position: relative;
    overflow: hidden;
}
/*image overly*/
.overly{
    position: absolute;
    background-color:rgba(255, 85, 0, 0.801);
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    -o-transition: .4s all;
    cursor: pointer;
}
.social-img:hover .overly{
    left: 0;
    
}
.partition-first:hover .overly{
    left: 0;
    
}
/*image overly*/
/*social section*/

/*feature section*/
.feature-section{
    margin-left: 15rem;
}
.feature-section h1{
    font-size: 3.2rem;
    margin-bottom: 5rem;
    line-height: 1.5;
}

.social-feature{
    float: left;
    width: 45%;
    margin-right: 5rem;
    
}
.social-feature h2{
    font-size: 2.8rem;
    margin-bottom: 3rem;
}
.social-feature p{
    font-size: 2rem;
    margin-bottom: 3rem;
    letter-spacing: .05rem;
    line-height: 1.5;
}
.social-feature h4{
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: .05rem;
    
}

/*feature section*/

/*performance section*/
.performance{
    margin-top: 10rem;
}
.partition-first{
    float: left;
    width: 45%;

    position: relative;
    overflow: hidden;
}
.partition-second{
    width: 50%;
    float: right;
}
.partition-second h1{
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-color: #FF5500;
    -moz-text-decoration-color: #FF5500;
}
.partition-second h1:hover{
    color: #FF5500;
    transition: .4s all ease-in-out;
    cursor: pointer;
    -webkit-transition: .4s all ease-in-out;
    -moz-transition: .4s all ease-in-out;
    -ms-transition: .4s all ease-in-out;
    -o-transition: .4s all ease-in-out;
}
.partition-second p{
    font-size: 2rem;
}
.performance{
    margin-left: 15rem;
}
.margin{
    margin-bottom: 8rem;
}

/*performance section*/

/*bg-big-img*/
.bg-big-img img{
    height: 70%;
    width: 70%;
    display: block;
    margin: 0 auto;
}
/*bg-big-img*/

/* about-app-section */
.flex-container{
    margin-left: 100px;
}
.about-app-content{
    display: flex;
}
.left-arrow-section{
    width: 6%;
    font-size: 7rem;
    margin-top: 20px;
}
.middle-content-section{
    width: 70%;
    padding: 20px;
}
.middle-content-section h1{
    font-size: 7rem;
    margin-bottom: 0.625rem;
}
.middle-content-section p{
    font-size: 3rem;
}
.right-content-section {
    border-left: 4px solid #000;
    height: 270px;
    margin-top: 100px;
}
.right-content-section ul li{
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 7px;
    margin-left: 10px;
}

/* blog-img-section */

.blog-img-section{
    margin-top: 50px;
}
.flex-container-section{
    display: flex;
}
.left-img{
    width: 866px;
    padding-right: 25px;
    height: 614px;
  
}
.left-img:hover .overly,.top-img:hover .overly,.bottom-img:hover .overly{
    left: 0;
  
}
.right-img{
    width: 35% ;
    padding-left: 10px;
   
}
.right-img img{
    width: 100%;
    height: 265px;
}
.top-img{
    margin-bottom: 40px;
  
}

 /* solution-section  */

 .solution{
     background-color: #FF5500;
     width: 650px;
     margin: 20px auto;
     height: 650px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.solution h1{
    color: #fff;
    font-size: 75px;
}

/* dummy-text-content */

.dummy-text-content h1{
    font-size: 75px;
    color: #FF5500;
}
.dummy-text-content h3{
    font-size: 25px;
    margin-bottom: 80px;
}
/* video-section */
.video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FF5500;
    height: 800px;
}
.video-section h2{
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
}
.video-section iframe{
    width: 860px;
    height: 615px;
}

/* form-section */

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(192, 192, 192, 0.315);
}
.form-section h1{
    font-size: 50px;
    padding: 20px;
}
input{
    width: 450px;
    padding: 20px;
    margin: 20px;
    outline: none;
    border:1px solid silver;
}
textarea{
    width: 943px;
    height:150px;
    padding: 30px;
    margin: 20px;
    resize: none;
    margin-bottom: 30px;
    outline: none;
    border:1px solid silver;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn2{
    width: 10%;
    padding: 1.6rem 1.4rem;
    background-color: #FF5500;
    border:none;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 20px;
}
.btn2:hover,.btn3:hover{
    animation-name: bounce;
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    animation-timing-function: linear;
}

@keyframes bounce {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-20px); -webkit-transform: translateY(-20px); -moz-transform: translateY(-20px); -ms-transform: translateY(-20px); -o-transform: translateY(-20px); }
        100% { transform: translateY(0); }
    }


::placeholder{
    font-size:15px;
}
/* news-section */

.flex{
    display: flex;
}

.left-news{
    width: 50%;
    margin-left: 170px;
}
.website-news{
    width: 30%;
}
.left-news h2,.website-news h2{
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 10px;
}
.left-news p{
    font-size: 18px;
    padding: 20px 0;
    width: 80%;
}
.website-news ul li{
        list-style: none;
        padding: 5px 0;
    
}
.website-news ul li a{
        text-decoration: underline;
        text-decoration-color:#FF5500;
        font-size: 22px;
        font-weight: bold;
}
.website-news ul li a:hover{
        color:#FF5500;
        transition: .5s ;
        -webkit-transition: .5s ;
        -moz-transition: .5s ;
        -ms-transition: .5s ;
        -o-transition: .5s ;
}

.btn3{
    width: 10%;
    padding: 1.6rem 1.4rem;
    background-color: #FF5500;
    border:none;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    width: 50%;
    margin-bottom: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color:#FF5500;
    font-size: 18px;
    color: #fff;
}
footer span{
    color: black;
    font-weight: bold;
}


/* responsive */


@media only screen and (max-width:768px) {
    .wrapper{
        max-width: 100%;
    }
    header{
        height: 19vh;
    }
    .menu{
        display: none;
    }
    .logo{
        font-size: 2.6rem;
    }
    .btn1{
        float: none;
        margin-left: 1rem;
    }
    .slider{
        margin-top: 18.9rem;
    }
    .container h1 {
    font-size: 6rem;  
    margin-top: 0rem;
    }
    .container h2 {
    font-size: 3.2rem;
    top: 25%;
    }
    .social-img {
    float: none;
    width: 100%;
    margin-left: 0%;
}
.feature-section {
    margin-left: 0rem;
}
.social-feature {
    float: none;
    width: 100%;
    margin-right: 0rem;
}
.performance {
    margin-left: 0rem;
}
.partition-first {
    float: none;
    width: 100%;
}
.partition-second {
    width: 100%;
    float: none;
    margin-top: 2rem;
}
.bg-big-img img {
    height: 100%;
    width: 100%;
    
}

.flex-container {
    margin-left: 0px;
}
.about-app-content {
    flex-direction: column;
}
.right-content-section {
    height: auto;
    margin-top: 0px;
    margin-left: 1rem;
}
.left-arrow-section {
    margin-left: 1rem;
}
.middle-content-section h1 {
    font-size: 5rem;
}
.middle-content-section p {
    font-size: 2.5rem;
}
.flex-container-section {
    flex-direction: column;
}
.left-img {
    width: 100%;
    padding-right: 0px;
    height: auto;
}
.right-img {
    width: 100%;
    padding-left: 0px;
}
.solution {
    width: 350px;
    height: 350px;
}
.solution h1 {
    font-size: 40px;
}
.video-section iframe {
    width: 80%;
    height: auto;
}
.video-section {
    height: 335px;
}
.form-section h1 {
    font-size: 30px;
}
input {
    width: 100%;
    margin: 10px 0px;
}
textarea {
    width: 100%;
    padding: 30px;
    margin: 10px 0px;
}
.flex {
    flex-direction: column;
}
.left-news {
    width: 80%;
    margin-left: 10px;
}
.website-news {
    width: 100%;
}
.website-news ul li a {
    font-size: 12px;
}
footer{
    font-size: 10px;
}
}

@media only screen and (max-width:320px){
    header {
    height: 28vh;
}
    .solution {
    width: 250px;
    height: 250px;
}
.solution h1 {
    font-size: 30px;
}
footer {
    font-size: 9px;
}
}